<!-- Dashboard Top Nav -->
<div id="top-menu">
    <div class="row expanded collapse">
        <div class="large-2 medium-4 small-12 columns top-part-no-padding">
            <div class="logo-bg">
                <img src="<%= asset_path 'logo-company.png' %>" alt="logo"/>
                <i class="fi-list toggles" data-toggle="hide"></i>
            </div>
        </div>
        <div class="large-10 medium-8 small-12 columns top-menu">
            <div class="row">
                
                <div class="large-4 medium-6 small-12 columns text-center float-right">

                    <% if usercompany_signed_in? %>
                    <div class="row">
                        <div class="medium-3 small-3 columns">
                            <div class="notification">
                                <i class="fi-mail"></i>
                                <span class="mail">4</span>
                            </div>
                        </div>
                        <div class="medium-3 small-3 columns">
                            <div class="notification">
                                <i class="fi-megaphone"></i>
                                <span class="megaphone">5</span>
                            </div>
                        </div>
                        <div class="medium-3 small-3 columns">
                            <img src="<%= asset_path 'user-avatar.gif' %>" alt="picture" class="top-bar-picture" />
                        </div>
                        <div class="medium-3 small-3 columns">
                            <a href="#" class="log-out">
                                <i class="fi-power power-off"></i>
                            </a>
                        </div>
                    </div>

                    <% end %>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- Dashboard Top Nav -->