<!-- Top Bar -->
<div class="top-bar">
	<div class="top-bar-left">
		<ul class="menu">
			<li class="menu-text">DICOM Laboral</li>
			<li><a href="#">How it Works?</a></li>
			<li><a href="#">Top Companies</a></li>
			<li><a href="#">Top Workers</a></li>
		</ul>
	</div>
	
	
</div>
<!-- //Top Bar -->

<% if flash[:notice] %>
<div class="callout alert">
    <h4><%= flash[:notice] %></h4>
</div>
<% end %>