<!-- Top Bar -->
<div class="top-bar">
	<div class="top-bar-left">
		<ul class="menu">
			<li class="menu-text">DICOM Laboral</li>
			<li><a href="#">How it Works?</a></li>
			<li><a href="#">Top Companies</a></li>
			<li><a href="#">Top Workers</a></li>
		</ul>
	</div>
	<div class="top-bar-right">
		<ul class="menu">
			<li><a href="#">My Account</a></li>
			<li><a class="button">Login</a></li>
		</ul>
	</div>
</div>
<!-- //Top Bar -->