<%= render "partials/nav_bar" %>


<!-- Hero Banner -->
<div class="callout large">
	<div class="row column text-center">
		<h1>Find the Best Worker for your Company</h1>
		<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris.</p>
		<a href="#" class="button large">Learn More</a>
	</div>
</div>
<!-- //Hero Banner -->

<!-- Statics -->
<div class="row column statics">
	<ul class="vertical medium-horizontal menu expanded text-center">
		<li>
			<a href="#"><div class="stat">28</div><span>Companies</span></a>
		</li>
		<li>
			<a href="#"><div class="stat">433</div><span>Workers</span></a>
		</li>
		<li>
			<a href="#"><div class="stat">3023</div><span>Works Evals</span></a>
		</li>
		<li>
			<a href="#"><div class="stat">789</div><span>Comments</span></a>
		</li>
		<li>
			<a href="#"><div class="stat">$10.232</div><span>Savings</span></a>
		</li>
	</ul>
</div>
<!-- Statics -->


<!-- Register Section -->
<div class="row">

	<div class="small-12 medium-6 columns text-center">
		<img class="thumbnail" src="http://placehold.it/750x350">
		<h2>Are you a Company?</h2>
		<p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta.</p>

		<a class="secondary button" href="#">Sign Up</a>
	</div>

	<div class="small-12 medium-6 columns text-center">
		<img class="thumbnail" src="http://placehold.it/750x350">
		<h2>Are you a Worker?</h2>
		<p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta.</p>

		<a class="button" href="#">Sign Up</a>
	</div>

</div>
<!-- //Register Section -->




<!-- Best Workers -->
<div class="row column best-workers text-center">
	<h3>Top of Best Workers Ever!</h3>
</div>

<div class="row medium-up-3 large-up-4">
	<div class="column text-center">
		<img class="thumbnail" src="http://placehold.it/150x150">
	</div>
	<div class="column text-center">
		<img class="thumbnail" src="http://placehold.it/150x150">
	</div>
	<div class="column text-center">
		<img class="thumbnail" src="http://placehold.it/150x150">
	</div>
	<div class="column text-center">
		<img class="thumbnail" src="http://placehold.it/150x150">
	</div>
	<div class="column text-center">
		<img class="thumbnail" src="http://placehold.it/150x150">
	</div>
	<div class="column text-center">
		<img class="thumbnail" src="http://placehold.it/150x150">
	</div>
	<div class="column text-center">
		<img class="thumbnail" src="http://placehold.it/150x150">
	</div>
	<div class="column text-center">
		<img class="thumbnail" src="http://placehold.it/150x150">
	</div>
	<div class="column text-center">
		<img class="thumbnail" src="http://placehold.it/150x150">
	</div>
	<div class="column text-center">
		<img class="thumbnail" src="http://placehold.it/150x150">
	</div>
	<div class="column text-center">
		<img class="thumbnail" src="http://placehold.it/150x150">
	</div>
	<div class="column text-center">
		<img class="thumbnail" src="http://placehold.it/150x150">
	</div>
</div>
<!-- //Best Workers -->


<hr>


<!-- FOOTER -->
<footer>
	<div class="row column">
		<ul class="menu">
			<li><a href="#">One</a></li>
			<li><a href="#">Two</a></li>
			<li><a href="#">Three</a></li>
			<li><a href="#">Four</a></li>
		</ul>
	</div>
</footer>
<!-- //FOOTER -->