<h1>HOME USERCOMPANIES</h1>
<% if usercompany_signed_in? %>
	Usted esta logeado como: <%= current_usercompany.email %> |
  <%= link_to 'Cerrar sesion', destroy_usercompany_session_path, method: :delete %>
<% else %>
  <%= link_to "Ingresar", new_usercompany_session_path %> | 
  <%= link_to "Registrarse", new_usercompany_registration_path %>
<% end %>