
<%= render "partials/dashboard_header" %>


<div class="row expanded wrapper collapse">
    <div class="large-12 columns content-bg">

        <div class="row collapse">
            <div class="no-padding">
                <div class="large-2 medium-12 small-12 columns">
                    <%= render "partials/dashboard_nav_bar" %>
                </div>
            </div>
            <div class="large-10 medium-12 small-12 columns light-grey-bg-pattern">

                
                <div class="row">
                    <div class="large-10 columns">
                        <div class="page-name">
                            <h3 class="left">Create New Worker Relationship</h3>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="small-12 medium-6 columns">
                        <div class="row">

                            <form action="<%= works_path %>" method="post">
                                <div class="small-12 columns">
                                    <label for="user">Worker:
                                        <select name="user" id="user">
                                            <option value="">User Name</option>
                                            <option value="">User Name</option>
                                            <option value="">User Name</option>
                                            <option value="">User Name</option>
                                            <option value="">User Name</option>
                                            <option value="">User Name</option>
                                            <option value="">User Name</option>
                                        </select>
                                    </label>
                                </div>


                                <div class="small-12 columns">
                                    <label for="company">Company:
                                    <input type="text" name="company" id="company" value="Current Company Name"></label>
                                </div>



                                <div class="small-12 columns">
                                    <label for="comments">Company Comments:
                                    <textarea name="comments" id="comments" cols="30" rows="10"></textarea></label>
                                </div>


                                <div class="small-12 columns">
                                    <label for="startdate">Start Date:
                                    <input type="date" name="startdate" id="startdate" max="<%= Date.today %>"></label>
                                </div>

                                <div class="small-12 columns">
                                    <button class="button" type="submit">Enviar datos</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>