<!DOCTYPE html>
<html>
    <head>
            <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
            <h2>Estimado <%= "#{@user.firstname} #{@user.lastname}" %>, la empresa <%= "#{@company.name}" %> ha indicado que trabajo con usted.</h3>
            <h3>Favor confirmar la relación laboral</h3>
    </body>
</html>