<!DOCTYPE html>
<html>
    <head>
            <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
            <h2>Estimados de la empresa <%= "#{@company.name}" %>, la persona <%= "#{@user.firstname} #{@user.lastname}" %> ha indicado que trabajo con ustedes.</h3>
            <h3>Favor <a href="">confirmar la relación laboral</a></h3>
    </body>
</html>